<html data-ng-app="CBEcalc">
<head>
  <title> CBE Calculator </title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
  <link href="css/xeditable.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body id="main" data-ng-controller="MainCtrl">
  <!--Redirect Block-->
  <div class="container" id = "notOnPage">
    <H3>
      You need to be signed into MyWestern for us to access your transcript
    </H3>
    <div class="span7 text-center">
      <button type="button" class="btn btn-primary wwuRedirect text-center">
        Let's go!
      </button>
    </div>
  </div>

  <input id="toggle" type="checkbox"><label for="toggle"><span class="glyphicon glyphicon-chevron-left"></span></label> <!-- use "&equiv;" without quotations marks for three abr 'menu' symbol -->

  <div class="slide-menu">
    <div id="menuText">
      <h1> Instructions </h1>
      <hr>
      <p id="intro">
        This is an application designed to help students and faculty more easily asses their standing in the College of Business and Economics.
      </p>
      <ul id="features">
        <li>
          Add a class by typing it's information into the provided fields under the "add a class" header
        </li>
        <li>
          Removed a class by clicking on the  <span class="glyphicon glyphicon-remove-circle"></span>  next to a class
        </li>
        <li>
          Classes become grayed out when a more recent attempt is entered (or detected by our app)
        </li>
      </ul>
    </div>
  </div>

  <div class="container backBlur" id="onPage">
    <div id="gpaIndent"></div>
    <div id="grayBlock"></div>
    <div id="gpaBanner"><div id="gpaText"><b id={{standing}}> GPA: {{gpa}} </b></div></div>
    <div id="gradeBanner"></div>
    <div id="headerBanner"></div>
    <div id="inputBanner"></div>
	  <div class = "row" id = "title" >
	    <div id="titleBlock" class="col-xs-12">
        <div class = "row" id = "appName">
          <div class="col-sm-12">
            <h1 class="backBlur"><b> CBE Grade Calculator </b></h1> <!--<b id={{standing}}> GPA: {{gpa}} </b>-->
          </div>
        </div>
        <div class = "row backBlur" id = "headers">
	        <div class = "col-xs-2 col-xs-offset-1">
	          <h3>
	            Course
	          </h3>
	        </div>
	        <div class = "col-xs-2 col-xs-offset-2">
	          <h3>
	            Grade
	          </h3>
	        </div>
	        <div class = "col-xs-3 col-xs-offset-1">
	          <h3>
	            Credits ({{totalCredits}})
	          </h3>
	        </div>
        </div>
	    </div>
	  </div>

    <!--Grade Block-->
	  <div class = "row">
      <div id = "grades">
  	    <div class = "col-md-6 col-md-offset-3 backBlur">
  	      <div id = "gradeBlock">
  	        <div ng-repeat="class in classList track by $index" id="contentRow" ng-class-even="'even'">
              <div class = "col-xs-1" style="text-align:left">
                <span id=removeIcon
                  class="glyphicon glyphicon-remove-circle glyphicon-large"
                  ng-click="removeClass(class)"
                </span>
              </div>
              <div class = "col-xs-5" style="text-align:left">
                <span id="editableField" editable-text="classList[$index].name" blur="submit" e-style="height: 20px;" buttons="no" e-required onaftersave="reCalc($index)">
                  <div id={{class.composite}}>
                    {{ class.name }}
                  </div>
                </span>
              </div>
              <div class = "col-xs-2" style="text-align:left">
                <span id="editableField" editable-text="classList[$index].grade" blur="submit" e-style="width:50px; height: 20px;" buttons="no" e-required onaftersave="reCalc($index)">
                  <div id={{class.composite}}>
                    {{ class.grade }}
                  </div>
                </span>
              </div>
              <div class = "col-xs-4">
                <span id="editableField" editable-text="classList[$index].credits" blur="submit" e-style="width:50px; height: 20px;" buttons="no" e-required onaftersave="reCalc($index)">
                  <div id={{class.composite}}>
                    {{ class.credits }}
                  </div>
                </span>
              </div>
  	        </div>
  	      </div>
  	    </div>
      </div>

      <!--Submit sub-block-->
	    <div class = "col-md-3 backBlur">
	      <div id = "submitBlock">
          <!--**Insert "old grades" block here if needed**-->
	        <section>
	          <form ng-submit="addClass()">
              <div class = "row" id = "addAClass">
  	              Add a Class
              </div>
	            <div class="form-group myform">
	              <input type="text"
	                class="form-control"
	                placeholder="Class Name"
	                ng-model="name">
	              </input>
	            </div>
	            <div class="form-group myform">
	              <input type="text"
	                class="form-control"
	                placeholder="Letter Grade"
	                ng-model="grade">
	              </input>
	            </div>
	            <div class="form-group myform">
	              <input type="text"
	                class="form-control"
	                placeholder="# Credits"
	                ng-model="credits">
	              </input>
	            </div>
              <button id="blueButton" type="button" class="btn btn-primary refreshData text-center" style="float: left;">
                Refresh
              </button>
              <!-- <button id="c-button--slide-bottom" class="c-button">Slide Botton</button> -->
	            <button id="blueButton" type="submit" class="btn btn-primary" style="float: right;">
	              Add
	            </button>
	          </form>
	        </section>
	      </div>
	    </div>
      <div class = "col-md-3">

      </div>
	  </div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  <script src="js/xeditable.js"></script>
  <script src="js/menu.js"></script>
  <script src="js/angularApp.js"></script>
  <script src="js/popup.js"></script>
</body>
</html>
