body {
  width:780px;
  height:580px;"
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  font-weight: 400;
  text-align: center;
  background: #2654B3; /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Portrait gradient - Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*
  background: #085078; /* fallback for old browsers
  background: -webkit-linear-gradient(to left, #085078 , #85D8CE); /* Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to left, #085078 , #85D8CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
*/
}

#composite{
  color: red;
}

#gradeBlock{
  overflow:auto;
  min-height:32%;
  max-height:32%;"
}

#grades {
  color: black;
}

#removeIcon {
  margin-left:5px;
  float:left;
  color: darkgray;
}

#editableField {
  color: white;
  text-decoration: none;
}

::-webkit-scrollbar {
    width: 1em;
    background-color: white;
    border-radius: 10px;
    margin-right: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
      border-radius: 10px;
  outline: 1px solid slategrey;
}
/*
#gradeBlock {
  background-color: #1f4593;
}
*/
