body {
  margin-top: -10px;
  width:780px;
  height:580px;"
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  font-weight: 400;
  text-align: center;
  background: #2654B3;
}

#good {
  color: #32CD32; /*Green*/
}

#ok {
  color: #FFD700; /*Yellow*/
}

#bad {
  color: #B22222; /*Red*/
}

#notOnPage{

}

#onPage{

}

#composite{
  color: gray;
  text-shadow: 1px 1px darkblue;
}

#gradeBlock{
  overflow:auto;
  min-height:32%;
  max-height:32%;"
}

#grades {
  color: black;
}

#removeIcon {
  margin-left:5px;
  float:left;
  color: darkgray;
}

#editableField {
  color: white;
  text-decoration: none;
}

#gradeBlock {
  font-size:20px;
  margin-left:10px;
}

#submitBlock {
  margin-left: 10%;
  margin-right:10%;
}

::-webkit-scrollbar {
    width: 1em;
    background-color: white;
    border-radius: 10px;
    margin-right: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
      border-radius: 10px;
  outline: 1px solid slategrey;
}
