body {
  overflow: hidden;
  margin-top: -20px;
  width:780px;
  height:580px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  font-weight: 400;
  text-align: center;
  background: rgba(233,233,233, 1);
  /*background-image: linear-gradient(180deg, rgba(239, 244, 212, 1), white); /* CBE Green */
  /*background: rgba(233, 233, 233, 1); /* off-white */
  /*background: rgba(0, 63, 135, 1); WWU Blue */
  /*background: rgba(100, 100, 100, 1); Gray */
  /*#2654B3*/
}

#blueButton {
background: rgba(0, 63, 135, 0.8); /*WWU Blue*/
}

.even {
  background-color: rgba(0,0,0, 0.05); /*Slightly darker strip*/
}

div.stats{
  text-align:center;
}

.glyphicon-large {
  min-height: 25px;
  line-height: 25px;
  font-size: 18px; /*was 25*/
  min-width: 40px;
  display: block;
  margin: -0.5em auto 0px;
  cursor:pointer;
}

.myform {

}

#gpaBanner {
  position: absolute;
  left: 0;
  right: 0;
  height: 7%;
  border-radius: 10px;
  top: 28;
  margin-left: 300;
  margin-right: 300;
  background: rgba(0, 63, 135, 0.85);
  /* background-color: rgba(0,0,0, 0.65); */
}

#gradeBanner {
  position: absolute;
  left: 0;
  right: 0;
  height: 42%;
  /* height: 84%; Alternative */
  border-radius: 10px;
  top: 90;
  margin-left: 15;
  margin-right: 15;
  background-color: rgba(0,131,214, 0.8); /* WWU light blue */
  /*rgba(0,0,0, 0.35) Black */
}

#treeImage {
  position: absolute;
  top: 0;
  left: -50;
  height: 183;
  width: 1060;
  background-image: url("../resources/treeHeader.jpg"); /* 1060 x 183 */
}

#inputBanner {
  visibility: visible; /**/
  position: absolute;
  left: 0;
  right: 0;
  height: 40%;
  /* height: 84%; Alternative */
  border: solid;
  border-radius: 15px;
  border-width: 2;
  border-color: lightgray;
  top: 355;
  margin-left: 50;
  margin-right: 50;
  /*background: rgba(244, 248, 224, 1); /* CBE Light Green */
  background: rgba(240, 240, 240, 1); /* CBE Gray */
  /*background-color: rgba(0,131,214, 0.8); /* WWU light blue */
  /*rgba(0,0,0, 0.35) Black */
}

#headerBanner {
  position: absolute;
  left: 0;
  right: 0;
  height: 6%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  top: 90;
  margin-left: 15;
  margin-right: 15;
  background: rgba(0, 63, 135, .8);
  /*background-color: rgba(0,0,0, 0.5); Black */
}

#good {
  color: #32CD32; /*Green*/
}

#ok {
  color: #FFD700; /*Yellow*/
}

#bad {
  color: #EF2323; /*Red*/
}

#notOnPage{
  background: rgba(0, 63, 135, 1);
  position: absolute;
  top: 90;
  width: 100%;
  left: 0;
  padding: 20;
}

#onPage{

}

#composite{
  color: darkgray;
  text-shadow: 1px 1px black;
}

#titleBlock {
  font-family: 'Ubuntu', sans-serif;
}

#gradeBlock{
  overflow:auto;
  margin-top: -5px;
  height:214px;
  font-size:16px;
  margin-left:10px;
}

#grades {
  margin-right: 15px;
}

#editableField {
  color: white;
  text-decoration: none;
}

#submitBlock {
  margin-top: 17px;
  margin-left: 10%;
  margin-right: 10%;
}

#addAClass{
  font-family: 'Ubuntu', sans-serif;
  font-size: 40;
  font-weight: 500;
  color: rgba(80,80,80,1); /*Gray*/
}

#contentRow {
  margin-left: 5px;
  height: 25px;
  line-height: 25px;
}

#removeIcon {
  margin-top: 0px;
  top: inherit;
  color: darkgray;
}

#oddContentRow {
  margin-left: 5px;
  background-color: rgba(0,0,0, .2);
  height: 30;
}

::-webkit-scrollbar {
  width: 0.85em;
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-right: 5px;
}
/*
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  outline: 1px solid slategrey;
}

/**
 * Slide Menu
 */
.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #67b5d1;
  transition: transform 0.3s;
}

.c-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Close button resets.
 */
.c-menu__close {
  color: #fff;
  background-color: #3184a1;
  font-size: 14px;
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/**
 * Close button resets.
 */
.c-menu__close:focus {
  outline: none;
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
  overflow: hidden;
}

/**
 * Mask component
 */

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.c-menu--slide-top,
.c-menu--slide-bottom,
.c-menu--push-top,
.c-menu--push-bottom {
  vertical-align: middle;
  width: 100%;
  height: 60px;
  text-align: center;
  overflow-x: scroll;
}

.c-menu--slide-top .c-menu__items,
.c-menu--slide-bottom .c-menu__items,
.c-menu--push-top .c-menu__items,
.c-menu--push-bottom .c-menu__items {
  display: inline-block;
  text-align: center;
}

.c-menu--slide-top .c-menu__item,
.c-menu--slide-bottom .c-menu__item,
.c-menu--push-top .c-menu__item,
.c-menu--push-bottom .c-menu__item {
  display: inline-block;
  line-height: 60px;
}

.c-menu--slide-top .c-menu__link,
.c-menu--slide-bottom .c-menu__link,
.c-menu--push-top .c-menu__link,
.c-menu--push-bottom .c-menu__link {
  display: block;
  padding: 0 4px;
  color: #fff;
}

.c-menu--slide-top .c-menu__close,
.c-menu--slide-bottom .c-menu__close,
.c-menu--push-top .c-menu__close,
.c-menu--push-bottom .c-menu__close {
  display: inline-block;
  margin-right: 12px;
  padding: 0 24px;
  height: 60px;
  line-height: 60px;
}

.c-menu--slide-bottom,
.c-menu--push-bottom {
  bottom: 0;
  left: 0;
  transform: translateY(60px);
}

.c-menu--slide-bottom.is-active,
.c-menu--push-bottom.is-active {
  transform: translateY(0);
}
